body {
	background-color: #383838;
    background-size: cover;
    background-position: center; 
    font-size: 20px;
}

body,
html {
    width: 100%;
    height: 100%;
}

ul .dropdown {
	background: transparent;
}

.dropdown-menu {
	padding-top: 5px;
	border-radius: 0;
}
.dropdown-menu li {
	margin-left: -5px;
	height: 30px;
}

.dropdown-toggle {
	font-size: 25px;
	font-weight: bold;
	text-shadow: #EEEE00 0 0 15px;
}

#logo-img {
  width: 50px;
  height: 50px;
  margin: 10px 15px 10px 0;
}


.container {
	width: 100%;
	padding: 0;
	border-radius: 0;
}

.container .jumbotron {
	width: 100%;
	padding: 0;
}

#header-nav {
  border-radius: 0;
  border: 0;
}

#navbarToggle {
	border: none;
	margin-right: 40px;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  padding-bottom: 5px;
  padding-top: 10px;
}

#collapsable-nav {
	font-size: 15px;
	margin-right: 20px;
}

#main-content {
	width: 100%;
}

.content{
	color: #ffffff;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

hr {
    width: 350px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-top: 50px;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
	float: right;
}

.navbar-inverse .navbar-nav>.active>a {
	background: transparent;
}
.navbar-collapse {
	font-size: 20px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.dropdown-menu li {
	float: right;
	clear: both;\
}

#nav-list a {
	margin-left: 5px;
}
#nav-list a:hover {
  background: #696969;
}
#ctcme a:hover {
	background: #696969;
}

#resume {
	width: 100%;
	margin: 50px auto;
}

.resume-level1 {
	word-spacing: 0.5em;
	text-align: center;
	font-size: 1.2em;
	letter-spacing: 5px;
}

.resume-level2 {
	text-align: left;
}

.resume-level3 {
	display: inline-block;
	float: right;
	padding-top: 5px;
	font-size: 0.8em;
}

.we {
	margin-top: 30px;
	padding-left: 20px;
	font-size: 0.8em;
	text-align: left;
}


.fa {
	padding-right: 10px;
}

.more {
	background-image: url("../images/fz2_small.jpg");
	color: #f5f5f5;
	padding-top: 30px;
	position: relative;
}
.more h1 {
	text-align: center;
	margin-bottom: 140px;
}

/********** Arrow Down ******************/
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

.more .fa {
 width: 60px;
 display: block;
 text-align: center;
 color: #fff;
 font:normal 45px 'FontAwesome';
 line-height:60px;
 padding-left: 3px;
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
}
.fa-angle-double-down:before {content: "\f103";}

.bounce {
 position: absolute;
 bottom: 30px;
 left: 50% ;
 width: 60px;
 height: 60px ;
 margin-left:-30px;
 -webkit-border-radius:50%;
 -moz-border-radius:50%;
 -ms-border-radius:50%;
 border-radius:50%;
 animation: bounce 2s infinite;
 -webkit-animation: bounce 2s infinite;
 -moz-animation: bounce 2s infinite;
 -o-animation: bounce 2s infinite;
}
 
@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-30px);}
 60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-30px);}
 60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}


/*********** Arrow Down End **************/

/*********** Photo Slider ****************/
#photoGallery {
	box-sizing: border-box;
	width: 90%;
}

h2 {
	color: #fff;
	margin-left: 1.66%;
	margin-bottom: 30px;
	margin-top: 60px;
	text-transform: uppercase;
	border-bottom: 2px solid red;
	width: 50%;

	padding-bottom: 10px;
	word-spacing: 0.5em;
	font-size: 1.2em;
	letter-spacing: 5px;
}

/***********Watercolor Fun ******************/

/* Style the Image Used to Trigger the Modal */
#myImg {
	height: 300px;
	float: left;
	margin: 20px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s;
}

#myImg:hover {opacity: 0.8;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}


/* The Close Button */
.close {
    position: absolute;
    top: 200px;
    right: 70px;
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
/***********Watercolor Fun Ends******************/



/*********** To Top Button ***********************/
.scrollToTop{
	font-size: 15px;
	width:70px; 
	height:50px;
	padding:0; 
	text-align:center; 
	color: #fff;
	text-decoration: none;
	position:fixed;
	bottom: 10px;
	right:20px;
	display:none;
}
.scrollToTop:hover{
	color: #bbb;
	text-decoration:none;
}
/*********** Top Button Ends *******************/


.panel-footer {
  margin-top: 80px;
  padding-top: 35px;
  padding-bottom: 80px;
  border-top: 0;
  text-align: center;
}



/********** Other devices only **********/
@media (min-width: 768px) {
  #logo-img {
  	width: ;
  }
  /* Home Page */

  #resume {
	padding-left: 80px;
	padding-right: 80px;
  }

  ul {
  	font-size: 15px;
  }

  #myName1 {
	display: none;
  }


  /* End Home Page */
}

/********** Small devices only **********/
@media (max-width: 767px) {
  /* Home Page */
  h1 {
  	margin: 0 auto;
  	font-size: 30px;
  	padding: 0 auto;
  }

  #resume {
	padding-left: 40px;
	padding-right: 40px;
  }

	#myName1 {
	  	color: #fff;
	  	font-size: 25px;
	  	padding-left: 20px;
	  }

	#myName2 {
		display: none;
	}



	section {
		float: left;
		clear: both;
	}
  /* End Home Page */
}


