body {
	font-family: 'Dosis', sans-serif;
	background-color: #383838;
    background-size: cover;
    background-position: center; 
    font-size: 20px;
}

body,
html {
    width: 100%;
    height: 100%;
}

ul .dropdown {
	background: transparent;
}




.container {
	width: 100%;
	padding: 0;
	border-radius: 0;
}

.container .jumbotron {
	width: 100%;
	padding: 0;
}

#header-nav {
  border-radius: 0;
  border: 0;
  background: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
}

#navbarToggle {
	border: none;
	margin-right: 40px;
}

#collapsable-nav {
	font-size: 15px;
	margin-right: 20px;
}

#main-content {
	width: 100%;
}

.content{
	color: #ffffff;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

hr {
    width: 350px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-top: 50px;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
	float: right;
	clear: both;
}

.navbar-inverse .navbar-nav>.active>a {
	background: transparent;
	float: right;
}
.navbar-collapse {
	font-size: 20px;
}

.navbar-header a:hover{
    text-decoration: none;

}

#resume {
	width: 100%;
	margin: 50px auto;
}

.resume-level1 {
	word-spacing: 0.5em;
	text-align: center;
	font-size: 1.2em;
	letter-spacing: 5px;

}

.resume-level2 {
	text-align: left;
}

.resume-level3 {
	display: inline-block;
	float: right;
	padding-top: 5px;
	font-size: 0.8em;
}

.we {
	margin-top: 30px;
	padding-left: 20px;
	font-size: 0.8em;
	text-align: left;
}

.panel-footer {
  margin-top: 80px;
  padding-top: 35px;
  padding-bottom: 80px;
  border-top: 0;
  text-align: center;
}

.fa {
	padding-right: 10px;
}


/********** Other devices only **********/
@media (min-width: 768px) {
  #logo-img {
  	width: ;
  }
  /* Home Page */

  #resume {
	padding-left: 80px;
	padding-right: 80px;
  }

  ul {
  	font-size: 15px;
  }

  #myName1 {
	display: none;
  }


  /* End Home Page */
}
/********** Small devices only **********/
@media (max-width: 767px) {
  /* Home Page */
  h1 {
  	margin: 0 auto;
  	font-size: 30px;
  	padding: 0 auto;
  }

  #resume {
	padding-left: 40px;
	padding-right: 40px;
  }

	#myName1 {
	  	color: #fff;
	  	font-size: 25px;
	  	padding-left: 20px;
	  }

	#myName2 {
		display: none;
	}



	section {
		float: left;
		clear: both;
	}
  /* End Home Page */
}
}

